{% extends "base.html" %}

{% block title %}
List of book
{% endblock title %}

{% block maim_content %}
  
<table border="1">
	<tr id="first">
		<td width=45px>#</td>
		<td width=145px>authors</td>
		<td width=245px>name</td>
		<td>description</td>
		<td width=125px>actions</td>
	</tr>
	{% for book in object_list %}
	<tr>
		<td id="first">{{ book.pk }}</td>
		<td>{{ book.authors }}</td>
		<td><a href="{% url 'book-detail-cbv' book.pk %}">{{ book.name }}</a></td>
		<td>{{ book.description }}</td>
		<td id="first">
			<a href="{% url 'book-delete-cbv' book.pk %}"><i class="bi bi-trash"></i></a>
			<a href="{% url 'book-update-cbv' book.pk %}"><i class="bi bi-pencil-square"></i></a>
		</td>
	</tr>
	{% endfor %}
</table>
</br>
<a href="{% url 'book-create-cbv' %}" class="btn btn-success"> Add book </a></button>
{% endblock maim_content %}
